apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
certificateKey: "e6a2eb8581237ab72a4f494f30285ec12a9694d750b9785706a83bfcbbbd2204"

---

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
{% for server in groups.loadbalancer %}
controlPlaneEndpoint: "{{ server }}:6443"
{% endfor %}