frontend localnodes
    bind *:6443
    mode tcp
    default_backend nodes
    timeout client          1m

backend nodes
    mode tcp
    balance roundrobin
{% for server in groups.master %}
    server {{ server }} {{ server }}:6443;
{% endfor %}
{% for server in groups.initroot %}
    server {{ server }} {{ server }}:6443;
{% endfor %}
    timeout connect        10s
    timeout server          1m